.container {
	display : flex;
	/*border : 1px solid red;*/
}
/*
.left-menu {
	border : 1px solid;
}
.content {
	border : 1px solid;
}
*/
.leftmenu-item {
	list-style: none;
}

.content-table {
	border : 1px solid;
}
.picklist {
	width : 200px;
}